{% extends "base.html" %}
{% load static %}

{% block title %}Company: {{ object.name }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.name }}</h2>
      <h2>{{ object.CIK}}</h2>
      <h2>{{ object.tickers.paren_ticker_list}}</h2>



{% regroup facts by concept.alias as alias_list %}
<table class="table">
  <thead>
  {% for alias in alias_list %}
  <tr>
  {% if forloop.first %}
      <th scope="col">Label</th>
      <th scope="col"></th>
  {% endif %}
    {% for fact in alias.list %}
      {% if forloop.parentloop.first %}
      <th scope="col">{{ fact.period.date_display_str }}</th>
      {% endif %}
    {% endfor %}
    </tr>
  {% endfor %}
  </thead>
  <tbody>
  {% for alias in alias_list %}
    <tr>
      <th scope="row">{{ alias.grouper }}<th>
      {% for fact in alias.list %}
      <td>{{ fact.round_value }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
    {{ x }}



    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}

</div>
{% endblock content %}
