{% extends "base.html" %}
{% load static %}

{% block title %}Company: {{ object.name }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.name }}</h2>
      <h2>{{ object.CIK}}</h2>
      <h2>{{ object.tickers.paren_ticker_list}}</h2>
      <h2>Year End {{ object.fiscal_year_end }}</h2>



{% regroup facts by concept.alias as alias_list %}
{#<table class="table">#}
{#  <thead>#}
{#  {% for alias in alias_list %}#}
{#  <tr>#}
{#  {% if forloop.first %}#}
{#      <th scope="col">Label</th>#}
{#      <th scope="col"></th>#}
{#  {% endif %}#}
{#    {% for fact in alias.list %}#}
{#      {% if forloop.parentloop.first %}#}
{#      <th scope="col">{{ fact.period.date_display_str }}</th>#}
{#      {% endif %}#}
{#    {% endfor %}#}
{#    </tr>#}
{#  {% endfor %}#}
{#  </thead>#}
{#  <tbody>#}
{#  {% for alias in alias_list %}#}
{#    <tr>#}
{#      <th scope="row">{{ alias.grouper }}<th>#}
{#      {% for fact in alias.list %}#}
{#      <td>{{ fact.round_value }}</td>#}
{#      {% endfor %}#}
{#    </tr>#}
{#  {% endfor %}#}
{#  </tbody>#}
{#</table>#}

    {% for alias in alias_list %}
      <div class="container">
	      <h2> {{ alias.grouper }} </h2>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Period</th>
    <th scope="col">Amount</th>
    <th scope="col">Y/Y %</th>
  </tr>
  </thead>
<tbody>
  {% for fact in alias.list %}
<tr>
	  <td>{{ fact.period.date_display_str }}</td>
	  <td>{{ fact.round_value }}</td>
	  <td>{{ fact.delta_pct|default_if_none:0 }}%</td>
	  <td>{{ fact.pq_value }}</td>
</tr>
  {% endfor %}

</tbody>


</table>
      </div>
    {% endfor %}




    </div>
  </div>

{% endblock content %}
