{% load static i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}keymetrics{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Key Metirics using SEC data">
    <meta name="author" content="Daniel Arguello">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
      <!-- Latest compiled and minified Bootstrap CSS
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->

        <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
        <!-- Your stuff: Third-party CSS libraries go here -->
        <!-- This file stores project-specific CSS -->
        <link href="{% static 'css/project.css' %}" rel="stylesheet">
      {% endblock %}
      <!-- Le javascript
        ================================================== -->
        {# Placed at the top of the document so pages load faster with defer #}
        {% block javascript %}
          <!-- Bootstrap JS
            <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            -->
            <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
            <!-- Your stuff: Third-party javascript libraries go here -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />

            <script src="https://unpkg.com/htmx.org@1.6.1"></script>
            <script src="https://unpkg.com/hyperscript.org@0.9.3"></script>


            <!-- place project specific Javascript in this file -->
            <script defer src="{% static 'js/project.js' %}"></script>

          {% endblock javascript %}

  </head>

  <body data-set-preferred-mode-onload="true">


    <!-- Page wrapper with .with-navbar class -->
    <div class="page-wrapper with-navbar">
      <!-- Navbar (immediate child of the page wrapper) -->
      <nav class="navbar">
        <!-- Navbar brand -->
        <a hx-get="/" class="navbar-brand"
                      hx-push-url="true"
                      hx-target="#content"
                      >
                      KeyMetrics
        </a>
          <!-- Navbar nav -->
          <ul class="navbar-nav d-none d-md-flex"> <!-- d-none = display: none, d-md-flex = display: flex on medium screens and up (width > 768px) -->
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'financials:list' %}" class="nav-link">Companies</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'financials:filings' %}" class="nav-link">Filings</a>
            </li>
          </ul>

          <ul class="navbar-nav d-none d-md-flex ml-auto"> <!-- d-none = display: none, d-md-flex = display: flex on medium screens and up (width > 768px) -->
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                  <a class="nav-link" href="{% url 'users:detail' request.user.username  %}">{% translate "My Profile" %}</a> </li>
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-link" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a> </li>
            {% else %}
              <li class="nav-item">
              {# URL provided bydjango-allauth/account/urls.py #}
                  <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a></li>
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a> </li> {% endif %} </ul>
          <div class="align-items-end">
            <button class="btn btn-action mr-auto" type="button" data-toggle="tooltip" data-title="Toggle Dark Mode" data-placement="bottom" onclick="halfmoon.toggleDarkMode()" aria-label="Toggle dark mode">
              <i class="fa fa-moon-o" aria-hidden="true"></i>
            </button>
          </div>
          <!-- Navbar content (with the dropdown menu) -->
          <div class="navbar-content d-md-none ml-auto"> <!-- d-md-none = display: none on medium screens and up (width > 768px), ml-auto = margin-left: auto -->
            <div class="dropdown with-arrow">
              <button class="btn" data-toggle="dropdown" type="button" id="navbar-dropdown-toggle-btn-1">
                Menu
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right w-200" aria-labelledby="navbar-dropdown-toggle-btn-1"> <!-- w-200 = width: 20rem (200px) -->
                <a href="/" class="dropdown-item">Home</a>
                <a href="{% url 'financials:list' %}" class="dropdown-item">Companies</a>
                <a href="{% url 'financials:filings' %}"
                   class="dropdown-item">Filings</a>
                {% if user.is_authenticated %}
                  <a class="dropdown-item" href="{% url 'users:detail' request.user.username  %}">{% translate "My Profile" %}</a>
                  <a class="dropdown-item" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
                {% else %}
                  <a id="sign-up-link" class="dropdown-item" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
                  <a id="log-in-link" class="dropdown-item" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
                {% endif %}
              </div>
            </div>
      </nav>

      <div id="content" class="content-wrapper">
        {% if messages %}
          {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        {% endif %}
        {% block content %}

        {% endblock content %}

      </div> <!-- /container -->
          </div>

          {% block modal %}{% endblock modal %}

          {% block inline_javascript %}
            {% comment %}
              Script tags with only code, no src (defer by default). To run
              with a "defer" so that you run run inline code:
              <script>
                window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */});
              </script>
            {% endcomment %}
          {% endblock inline_javascript %}
  </body>
</html>
